<form [formGroup]="bookForm" (ngSubmit)="createBook()" class="p-fluid">
  <h3>Добавить книгу</h3>
  <span class="p-float-label mt-4">
    <input id="float-input" type="text" pInputText formControlName="name" >
    <label for="float-input">Название</label>
  </span>


  <span class="p-float-label mt-4">
    <input id="author" type="text" pInputText formControlName="author">
    <label for="author">Автор</label>
  </span>

  <div class="mt-4">
    <p-fileUpload
        #fileUpload
        [customUpload]="true"
        [showUploadButton]="false"
        [multiple]="false"
        chooseLabel="Выберите файл"
        cancelLabel="Отмена"
        accept=".fb2, .epub, .mobi, .pdf"
        (uploadHandler)="onSelect($event)"
    ></p-fileUpload>
  </div>

  <div class="mt-4">
    <p-fileUpload
        #imgUpload
        [customUpload]="true"
        [showUploadButton]="false"
        [multiple]="false"
        chooseLabel="Выберите изображение обложки"
        cancelLabel="Отмена"
        accept="image/*"
        (uploadHandler)="onSelectImg($event)"
    ></p-fileUpload>
  </div>

  <div class="mt-4">
    <p-dropdown
            [options]="tags"
            [editable]="true"
            [showClear]="true"
            placeholder="Выберите теги"
            optionLabel="name"
            optionValue="name"
            formControlName="tagName"
    ></p-dropdown>
  </div>

  <div class="mt-4">
    <p-dropdown
      [options]="categories"
      [showClear]="true"
      placeholder="Выберите категории"
      optionLabel="name"
      optionValue="name"
      formControlName="category"
    ></p-dropdown>
  </div>



  <div class="mt-4 mb-4">
    <p-inputMask
      [showClear]="true"
      placeholder="Год издания"
      mask="9999-99-99"
      formControlName="yearOfPublishing"
    ></p-inputMask>
  </div>

  <p-button label="Сохранить" type="submit" class="mt-4"></p-button>
</form>
