<form [formGroup]="bookUpdateForm" (ngSubmit)="updateBook()" class="p-fluid">
  <h3>Book</h3>
  <span class="p-float-label mt-4">
    <input id="float-input" type="text" pInputText formControlName="name">
    <label for="float-input">Name</label>
  </span>

  <span class="p-float-label mt-4">
    <input id="author" type="text" pInputText formControlName="author">
    <label for="author">Author</label>
  </span>

  <span class="p-float-label mt-4">
    <input id="tagName" type="text" pInputText formControlName="tagName">
    <label for="tagName">Tag</label>
  </span>

  <span class="p-float-label mt-4">
    <input id="category" type="text" pInputText formControlName="category">
    <label for="category">Category</label>
  </span>

  <span class="p-float-label mt-4 mb-4">
    <input id="yearOfPublishing" type="text" pInputText formControlName="yearOfPublishing">
    <label for="yearOfPublishing">Year of publishing</label>
  </span>

  <p-button label="Update" type="submit" class="mt-4"></p-button>
</form>
