
<h3>Book</h3>

<div class="col-6 col-offset-3 justify-content-center flex">
  <img src="{{url}}book/{{book?.id}}/img" [alt]="book?.name">
</div>
<div class="justify-content-center flex">
    <a href="{{url}}book/{{book?.id}}/file" class="mr-3 justify-content-center flex p-button" >Загрузить</a>
    <a routerLink="/read/{{book?.id}}" class="ml-7 justify-content-center flex p-button" >Открыть файл (pdf only)</a>
</div>



<form [formGroup]="bookUpdateForm" (ngSubmit)="updateBook()" class="p-fluid">

  <span class="p-float-label mt-4">
    <input id="float-input" type="text" pInputText formControlName="name">
    <label for="float-input">Название</label>
  </span>

  <span class="p-float-label mt-4">
    <input id="author" type="text" pInputText formControlName="author">
    <label for="author">Автор</label>
  </span>

  <div class="mt-4">
    <p-dropdown
      [options]="tags"
      [editable]="true"
      [showClear]="true"
      placeholder="Выберите теги"
      optionLabel="name"
      optionValue="name"
      formControlName="tagName"
    ></p-dropdown>
  </div>

  <div class="mt-4">
    <p-dropdown
      [options]="categories"
      [showClear]="true"
      placeholder="Выберите категории"
      optionLabel="name"
      optionValue="name"
      formControlName="category"
    ></p-dropdown>
  </div>

  <div class="mt-4 mb-4">
    <p-inputMask
      [showClear]="true"
      placeholder="Год издания"
      mask="9999-99-99"
      formControlName="yearOfPublishing"
    ></p-inputMask>
  </div>

  <p-button label="Сохранить" type="submit" class="mt-4"></p-button>
</form>
