.app {
    text-align: center;
}

.appLogo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .appLogo {
        animation: appLogoSpin infinite 20s linear;
    }
}


.appHeader {
    background-color: var(--surface-ground);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--text-color);
}

.appLink {
    color: var(--primary-color);
}

@keyframes appLogoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    font-size: calc(10px + 2vmin);
}