<h3>{{heading}}</h3>

<div id="outerContainer">
  <div class="pdf-container">
    <pdf-viewer src="{{url}}book/{{bookId}}/file"
                [render-text]="true"
                [original-size]="false"
                [fit-to-page]="false"
                [zoom-scale]="'page-width'"
                [autoresize]="true"
                style="width: 100%; height: 1240px"
                [show-borders] = "true"
                (error)="onError($event)"
    ></pdf-viewer>
    <button pButton pRipple type="button" icon="pi pi-times" class=" close-button p-button-rounded p-button-danger" routerLink="/books/{{bookId}}"></button>
  </div>
</div>
